
<br><br>



<br>

<!-- <div class="container-fluid mt--7" *ngIf="show">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div position=relative class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Criteria Group</h3>
            </div>

          </div>
        </div>
        <div class="card-body">
          <form #form="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-firstname">Name</label>
                    <input type="text" id="input-firstname" name="firstName"  class="form-control form-control-alternative">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-lastname">Weightage</label>
                    <input type="text" id="lastname" name="lastName" class="form-control form-control-alternative">
                  </div>
                </div>
              </div>


              <div class="col-4 text-right">
                <button class="btn btn-sm btn-primary">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<br> -->

<br>

<div class="col">
  <div class="card shadow">

    <!-- <div class="table-responsive table-bordered">
      <table class="table align-items-center table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Performance Appraisal Criteria</th>
            <th scope="col">Employee Self Rating</th>
            <th scope="col">Peer Rating</th>
            <th scope="col">Team Lead Rating</th>
            <th scope="col">Action</th>

          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let pa of viewPA">
              <table class="table" width="250%" class="border-0">
                <tr>
                  <th scope="col-2">{{pa.name}}</th>
                  <th scope="col-3">10%</th>
                  <th scope="col-3">10%</th>
                  <th scope="col-4">10%</th>
                  <th scope="col-4"><button routerLink="../edit-criteria" class="btn btn-sm btn-primary">Edit</button>
                    </th>
                </tr>
                <tr *ngFor="let pa1 of viewPA1" style="width: 100%;">
                  <span *ngIf="pa.id ==pa1.groupId" >
                    <td>{{pa1.name}}</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                  </span>
                </tr>
              </table>
          </tr>
        </tbody>
      </table>
    </div> -->

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col-2">Performance Appraisal Criteria</th>

          <th scope="col-4">Rating</th>

        </tr>
      </thead>
      <tbody *ngFor="let pa of criteriaGroups" style="border-width: 0;">

        <tr class="table-primary" style="font-weight: bold;">
          <td scope="col-2">{{pa.name}}</td>
          <td scope="col-3">{{pa.weightages}}%</td>


        </tr>
        <tr *ngFor="let pa1 of criterias">
            <td *ngIf="pa.id ==pa1.groupId">{{pa1.name}}</td>

            <td *ngIf="pa.id ==pa1.groupId">
              <select class="form-control form-control-sm">
                <option selected>Score</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </td>
           
        </tr>


      </tbody>
    </table>

  </div>
</div>

<br>
<br><br>

<div class="container">

  <button type="button" class="btn btn-success btn-lg" style="border-radius:5px; float: right; padding: 16px 24px;">
    Submit
  </button>
</div>
